/* Général ----------------------------------------------------------------------------------------------------------------- */

*{
	margin: 0px;
	padding: 0px;
	font-family: "Gill Sans", sans-serif;
}

body{
	background-color: #232323;

}

/* Header ----------------------------------------------------------------------------------------------------------------- */

header {
	display: inline-block;
	vertical-align: top;
}

header a {
	text-decoration: none;
	color: rgba(255,255,255,0.8);
	display: block;
}

header li{
	position: relative;
	list-style-type: none;
	width: 12vw;
	text-align: center;
	color: rgba(255,255,255,0.4);
	padding: 2vh 0;
	display: block;
	font-size: 2.5vh;
}

header li:hover{
	cursor: pointer;
	background-color: #181818;
}

header nav {
	border-right: solid 0.01vw rgba(255,255,255,0.6); 
}

header nav > ul > li:hover > ul {
	display: block;
}

header nav > ul > li {
	background-color: #202020;
}

header nav > ul > li > ul {
	display: none;
	position: relative;
}

header nav > ul > li > ul > li {
	background-color: #181818;
	width: 12vw;
	color: white;
}

 header nav > ul > li > ul > li:hover {
	background-color: #252525;
}

.listeli::after {
	content: "";
	position: absolute;
	top: 2.7vh;
	right: 3vh;
	border-top: solid 0.7vh transparent;
	border-bottom: solid 0.7vh transparent;
	border-left: solid 1.75vh rgba(255,255,255,0.4);
}
.listeli:hover::after {
	content: "";
	position: absolute;
	top: 2.7vh;
	right: 3vh;
	border-top: solid 1.75vh rgba(255,255,255,0.4);
	border-left: solid 0.7vh transparent;
	border-right: solid 0.7vh transparent;
	transition: all 0.2s ease;
}

/* Footer ----------------------------------------------------------------------------------------------------------------- */

footer{
	position: absolute;
	bottom: 0;
	border-top: solid 0.1vh #7347FE;
	height: 8vh;
	line-height: 8vh;
	background-color: #232323;
	width: 100vw;
}

h1{
	color: rgba(255,255,255,0.6);
	text-align: center;
	font-size: 4vh;
}