/* Général ----------------------------------------------------------------------------------------------------------------- */

*{
	margin: 0px;
	padding: 0px;
	font-family: "Gill Sans", sans-serif;
	transition: all 0.5s ease;
}

a{
	text-decoration: none;
	color: white;
	display: block;
}

body{
	background-color: #232323;
}

/* Header ----------------------------------------------------------------------------------------------------------------- */

header{
	transition: 0.5s ease;
	position: fixed;
}

header nav{
	width: 150px;
	height: auto;
	border-right: solid 1px white;
}

header li{
	position: relative;
	list-style-type: none;
	width: 150px;
	text-align: center;
	color: grey;
	padding: 15px 0px;
	display: block;

}

header li:hover{
	cursor: pointer;
	background-color: #181818;

}

header ul{
}

header nav > ul > li:hover > ul {
	display: block;
}

header nav > ul > li {
	background-color: #202020;
}

header nav > ul > li > ul {
	display: none;
	position: relative;
}

header nav > ul > li > ul > li {
	background-color: #181818;
	width: 150px;
	color: white;
}

 header nav > ul > li > ul > li:hover {
	background-color: #252525;
}

.listeli::after {
	content: "";
	position: absolute;
	top: 20px;
	right: 15px;
	border-top: solid 4px transparent;
	border-bottom: solid 4px transparent;
	border-left: solid 10px grey;
}
.listeli:hover::after {
	content: "";
	position: absolute;
	top: 20px;
	right: 15px;
	border-top: solid 10px grey;
	border-left: solid 4px transparent;
	border-right: solid 4px transparent;
	transition: all 0.2s ease;
}

.test{
	transition: 0.5s ease;
}

/* Footer ----------------------------------------------------------------------------------------------------------------- */

footer{
	position: absolute;
	bottom: 0px;
	border-top: solid 1px #7347FE;
	height: 80px;
	line-height: 80px;
	background-color: #232323;
	width: 100%;
}

h1{
	color: rgba(255,255,255,0.6);
	text-align: center;
	font-size: 25px;
}
