* {
    font-family: "Gill Sans", sans-serif;
    transition: all 0.5s ease;
    padding: 0px;
    margin: 0px;
}

/* CONTENT CONNEXION PAGE */
a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
a:focus {
    outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #f40d42;
}

input {
    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.txt1 {
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-size: 13px;
  line-height: 1.5;
  color: #f40d42;
}
.limiter {
  width: 100%;
  margin:  auto;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background: #f40d42;
  background: -o-linear-gradient(-135deg, #f40d42, #f40d42);
  background: -moz-linear-gradient(-135deg, #c850c0, #f40d42);
  background: linear-gradient(-135deg, #f40d42, #4158d0);
  background: contain;
}

.wrap-login {
  width: 650px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px;
}
.login-form {
  width: 330px;
}

.login-form-title {
  font-size: 20px;
  color: #f40d42;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 5px;
  display: inline-block;
}

.input {
  font-size: 15px;
  line-height: 1.5;
  color: #f40d42;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
  width: 100%;
      padding: 10px;
      text-align: center;
}


.login-form-btn {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.5;
  color: white;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #f40d42;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-btn-psw{
  font-size: 15px;
  line-height: 1.5;
  color: white;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #f40d42;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success_message{
  color: green;
}

.error_message{
  color: red;
}

.login100-pic {
  margin-left: 10px;
}

.login100-pic-index{
  margin-top: 5vh;
}

.text-center{
  margin-top: 10px;
  margin-left: 10px;
}
