/* Général ----------------------------------------------------------------------------------------------------------------- */
*{
	margin: 0px;
	padding: 0px;
	font-family: "Gill Sans", sans-serif;
	max-width: 1320px;
	transition: 0.5s ease;
}

a{
	text-decoration: none;
}

/* Header ----------------------------------------------------------------------------------------------------------------- */

header #logo{ /* Structure du logo du site */
	font-size: 48px;
	font-weight: bold;
    background: -webkit-linear-gradient(#f40d42, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   	white-space: nowrap; /* Logo en une ligne avec rétrécissement */
}

header img{
	height: 40px;
}

header div{
	height: 110px;
	width: 100%;
	background-color: rgba(0,0,0,0.55);
	position: fixed;
	border-bottom: solid 1px rgba(255,255,255,0.8); 
	z-index: 11; /* Passer au premier plan */
}

header nav{
	position: fixed;
        width: 100%;
    z-index: 11;
}

header ul{
	display: flex; /* Position horizontale du header */
}

header ul li{
	flex-direction: row;
	flex: 1 1 auto;
	height: 70px;
	line-height: 70px;
	text-align: center;
	list-style-type: none; /* Enlever les points de liste */
	border-radius: 10px;
	margin: 8px;
	padding: 10px;
	display: block; /* entièreté du bouton cliquable */
	color: rgba(255,255,255,0.7);
	font-size: 27px;
}

header ul li:hover{
	background-color: rgba(255,255,255,0.15);
	cursor: pointer;
}

header nav li a{
	color: rgba(255,255,255,0.7);
}
