/* Général ----------------------------------------------------------------------------------------------------------------- */

*{
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", sans-serif;

	transition: 0.5s ease;
}

.divpartie{ /* taille des div représentant les parties */
	height: 168vh;
}

a{
	text-decoration: none;
}

/* Partie 1 ----------------------------------------------------------------------------------------------------------------- */

#partie1{
	background: white url("../images/background_pink.png") top left no-repeat;
	background-size: cover;
}

#partie1 div{
	position: absolute;
	top: 23vh;
    color: rgba(0,0,0,0.8);
    font-weight: bold;
    font-size: 4vh;
    padding: 5vh;
}

#partie1 span{
    color: rgba(255,255,255,0.85);
}

#partie1 div div{
	padding-left: 3vw;
	padding-top: 30vh;
	max-width: 45vw;
}

#partie1 p{
	padding: 3vh;
}

.imageronde{ /* Style pour les images rondes */
	position: absolute;
    border-radius:50%;
    width:70vh;
    height:70vh;
    border: solid 0.1vh rgba(255,255,255,0.8);
    z-index: 10;
}

#partie1 img{
	top: 69vh;
    left: 55vw;
}

#partie1 div{
	border-radius:50%;
	position: absolute;
}

#partie1 #styleimg1{
	height: 75vh;
	width: 75vh;
    background-color: rgba(0,0,0,0.5);
    top: 64vh;
    left: 52vw;

}
#partie1 #styleimg2{
	height: 69vh;
	width: 69vh;
    background-color: rgba(255,255,255,0.2);
    top: 66vh;
    left: 52.5vw;
}

/* Partie 2 ----------------------------------------------------------------------------------------------------------------- */

#partie2{
	background: white url("../images/background_grey.png") top left no-repeat;
	border-bottom: solid 0.1vh black;
	background-size: cover;
}

/* Intermédiaire partie 1 et partie 2 */

#partie2 > div{
	display: flex;
	position: relative; /* Permet de chevaucher la partie 1 */
	bottom: 11vh;
	left: 11vw;

}
#partie2 div div{
	flex-direction: column;
	flex: 1 1 auto;
	display: flex
}

#partie2 div div img{
	position: relative;
	left: 2vw;
	height: 21vh;
	width: 21vh;

}
#partie2 div div h3{
	color: rgba(255,255,255,0.8);
	max-width: 14vw;
	font-size: 3vh;
	text-align: center;
} 

/* Coprs partie 2 */ 


#partie2 #corps{
	position: relative;
	flex-direction: column;
}

#partie2 #corps div{
	flex-direction: row;
	flex: 1 1 auto;
	display: flex
}

#partie2 #corps #bandeau1 img{
	position: relative;
	top: 8vh;
	left: 2vw;
    width:52vh;
    height:52vh;
}

#partie2 #corps #bandeau1 h3{
	top: 18vh;
	left: 18vw;
}

#partie2 #corps #bandeau2 img{
	position: relative;
	top: 20vh;
	left: 50vw;
    width:52vh;
    height:52vh;
}

#partie2 #corps #bandeau2 h3{
	top: 30vh;
	right: 30vw;
}

#partie2 #corps h3{
	max-width: 40vw;
	position: relative;
	line-height: 4.5vh;
	font-size: 3.5vh;
	text-align: center;
}

#partie2 #corps a{
  font-size: 5vh;

}
#partie2 #corps a:hover{
  color: rgba(255,255,255,0.8);
}
#partie2 #corps a:not(:hover){
  color: #f40d42;
}

/* Fin Coprs partie 2, titre partie 3 */ 

#partie2 h1{
	position: relative;
	top: 24.5vh;
	text-align: center;
	color: rgba(255,255,255,0.8);
	font-size: 14vh;
	font-weight: bold;
}

/* Partie 3 ----------------------------------------------------------------------------------------------------------------- */

#partie3{
	background: white url("../images/background_pink.png") top left no-repeat;
	background-size: cover;
	display: flex;
    padding: 0.2vh;
    height: 140vh;
}

#partie3 a:hover{
    color: rgba(255,255,255,0.8);
}

#partie3 a:not(:hover){
    color: #f40d42;
}

#partie3 div div{
	margin: 2.7vh;
    padding: 1.7vh;
}

#partie3 > div {
    border-radius: 8vh;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    color: rgba(255,255,255,0.8);
    border: solid 0.1vh rgba(255,255,255,0.8);
    margin: 1.5vh;
    margin-top: 12vh; 
    padding: 5vh;
    font-size: 4.2vh;
    max-height: 100vh;
    min-width: 20vw;
}

#partie3 h3 {
	position: relative;
    color: #f40d42;
    font-size: 5vh;
}

/* Lien Contact */

#partie3 h2{
	position: inherit;
	display: inherit;
	flex: inherit;
	text-align: center;
	position: absolute;
}

#partie3 h2 a:hover{
	color: rgba(0,0,0,0.8)
}
#partie3 h2 a:not(:hover){
	color: rgba(255,255,255,0.8)
}