/* Général -----------------------------------*/
* {
    font-family: "Gill Sans", sans-serif;
    transition: all 0.5s ease;
}
/* Inscription ------------------------------------------------------*/
html, body, h1, form, fieldset, input
{
margin: 0; padding: 0; border: none;
}
body {
  padding: 0px;
  background: #f40d42;
  background: -o-linear-gradient(-135deg, #f40d42, #f40d42);
  background: -moz-linear-gradient(-135deg, #c850c0, #f40d42);
  background: linear-gradient(-135deg, #f40d42, #4158d0);
  background: contain;
}
main {
    width: 5%;
}


fieldset {
      padding: 20px;
      }
      fieldset, label {
        display:inline-grid;
        line-height: 40px;
        width: 300px;
      }
#divTel {
display: inline-flex;
width: 40px;
}
#prefixeTel {
display: inline-block;
width: 10vw;
}
#refprefixetel {
    display: inline-block;
width: 10vw;
}
#tel {
    width: 10vw;
}

fieldset {
 margin-bottom:10px;
 border:1px solid #DF3F3F;
 }
legend {
 color:#DF3F3F;
 font-weight:bold
 }
label {
 margin-top:10px;
 }
label.inline {
 margin-right:50px;
 }
input, textarea, select, option {
 background-color:#FFF3F3;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
select {
 margin-top:10px;
 }
/* Custom Checkbox */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 5vw;
  left: 10vw;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: solid 1px #f40d42;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #f40d42;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
button {
 width:100px;
 margin-left:6.5vw;
 cursor:pointer;
 }
 div {
    display: inline-grid;
    padding: 10px;
    line-height: 20px;
 }
 fieldset {
    display: inline-flex;
    padding: 10px;
    line-height: 20px;
 }
 #bottom-form {
  margin-left: 9.5vw;
  width: 100%
 }
 #acceptTerms {
    text-align: center;
    width: 10px;
 }
 .form-submit-button {

background: #f40d42;

color: white;

border-radius: 4px;

border-color: #f40d42;

font-size: 75%;

height: 50px;

width: 150px;

}
form {
    width: 25vw;
}

.bottom-link {

margin: 20px;

}

/* -------- RESPONSIVE --------- */
main {
    display: flex;
    flex: 1 1 auto;
    margin: 15px;
    padding: 2px;
    width: 60vw;
    margin-left: 20vw;
    background: white;
    border-radius: 15px;
}
a {
  outline: none;
  text-decoration: none;
}
a:hover{
  color: gray;
}
a:not(:hover){
  color: #f40d42;
}
article {
    margin: 15px;
    padding: 10px;
}
h3 {
    color: #f40d42;
}
.displayText {
    display: inline-block;
}
.redcolor {
    display: inline-block;
    color: #f40d42;
}
@media screen and (max-width:400px) {
body {
}
header {
    height: 100px
}
main {
    flex-direction: column;
    color: white;
    margin: 15px;
    padding: 2px;
}
}
@media screen and (min-width:400px) and (max-width:700px) {
body {
    background-size: cover;
    }
header {
    height: 125px
}
main {
    flex-direction: column;
    margin: 15px;
    padding: 2px;
}
}
@media screen and (min-width:700px) and (max-width:1600px) {
body {
    }
header {
    height: 150px
}
}
@media screen and (min-width:1600px) {
body {
background-size: cover;
    }
header {
    height: 175px
}
menu, section {
    font-size: 20px;
    flex: 1 1 auto;
}
h3 {
    font-size: 30px;
}
}
