input {
   width:100%;
 margin-left:5px;
 box-shadow:0px 0px 0px #D83F3D;
 border: solid 1px gray;
 border-radius: 5px;
 padding: 5px;
 cursor:pointer;
}

select {
   width:100%;
 margin-left:5px;
 box-shadow:0px 0px 0px #D83F3D;
 border: solid 1px gray;
 border-radius: 5px;
 padding: 5px;
 cursor:pointer;

}

button {
 width:100px;
 margin-left:6.5vw;
 cursor:pointer;
 background: #f40d42;

color: white;

border-radius: 10px;
margin-left: 45vw;

border-color: #f40d42;

font-size: 100%;

height: 50px;

width: 150px;
}
