input {
   width:100%;
 margin-left:5px;
 box-shadow:0px 0px 0px #D83F3D;
 border: solid 1px gray;
 border-radius: 5px;
 padding: 5px;
 cursor:pointer;
}

select {
   width:100%;
 margin-left:5px;
 box-shadow:0px 0px 0px #D83F3D;
 border: solid 1px gray;
 border-radius: 5px;
 padding: 5px;
 cursor:pointer;

}

.button-informations {
text-align: center;
color:black;
margin-left: 45%;
border-radius: 50px;
width: 10vw;
margin-bottom: 10px;
height: 30px;
padding: 10px;
border: 0px;
display: inline-block;

}
