.bottom-text {
  margin-left: 31vw;
}

button {
text-align: center;
color:black;
margin-left: 45%;
border-radius: 50px;
width: 10vw;
margin-bottom: 10px;
height: 30px;
padding: 10px;
border: 0px;
display: inline-block;
}
