* {
  padding: 0px;
  margin: 0px;
  font-family: "Gill Sans", sans-serif;
  transition: 0.5s ease;
}

/* Header ----------------------------------------------------------------------------------------------------------------- */

#menu-name {
  text-align: center;
  padding: 50px;
  line-height: 50px;
    background: #f40d42;
  background: -o-linear-gradient(-135deg, #f40d42, #f40d42);
  background: -moz-linear-gradient(-135deg, #f40d42, #f40d42);
  background: linear-gradient(-135deg, #f40d42, #4158d0);
  background: contain;
  color: white;
}

#menu-header, #menu-header ul{
padding:0;
margin:0;
list-style:none;
background: white url("../images/background_grey.png") top left no-repeat;
}
#menu-header li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu-header ul li{
display:inherit;
border-radius:0;
text-align: center;
}
#menu-header ul li:hover{
border-radius:0;
}
#menu-header ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-header li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu-header li:first-child{
background-color: #d11b45;
background-image:-webkit-linear-gradient(top, #d11b45 0%, #d11b45 100%);
background-image:linear-gradient(to bottom, #d11b45 0%, #d11b45 100%);
}
#menu-header li:nth-child(2){
background-color: #d11b45;
background-image:-webkit-linear-gradient(top, #d11b45 0%, #d11b45 100%);
background-image:linear-gradient(to bottom, #d11b45 0%, #d11b45 100%);
}
#menu-header li:last-child{
background-color: #d11b45;
background-image:-webkit-linear-gradient(top, #d11b45 0%, #d11b45 100%);
background-image:linear-gradient(to bottom, #d11b45 0%, #d11b45 100%);
}
/* background des liens sous menus */
#menu-header li:first-child li{
background:#d11b45;
}
#menu-header li:nth-child(2) li{
background:#d11b45;
}
#menu-header li:last-child li{
background:#d11b45;
}
/* background des liens menus et sous menus au survol */
#menu-header li:first-child:hover, #menu-header li:first-child li:hover{
background:#f40d42;
}
#menu-header li:nth-child(2):hover, #menu-header li:nth-child(2) li:hover{
background:#f40d42;
}
#menu-header li:last-child:hover, #menu-header li:last-child li:hover{
background:#f40d42;
}
/* les a href */
#menu-header a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
}
#menu-header ul a{
padding:8px 0;
}
#menu-header li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-header li:hover a, #menu-header li li:hover a{
color:#000;
}
/* Content */

/*
table,
td {
    border: 1px solid #333333;
    width: 50vw;
    height: 5vh;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
*/
